html {
    height: 100%;
    width: 70%;
    padding: 0% 15%;
    margin-top: 20px;
    background-color: #E6E8E6;
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    color: #1D1128;
    align-items: center;
  }
  
  h1 {
    font-size: 28px;
    font-weight: 600px;
    text-align: center;
  }
  
  h2 {
    font-size: 20px;
    font-weight: 400px;
    text-align: center;
    color: #539987;
  }
  
  p {
    text-align: justify;
  }
  
  a {
    font-weight: 600px;
    color: #1D1128;
  }
  
  hr {
    width: 75%;
  }

  #find-me p {
    text-align: center;
  }

  #find-me a {
    color: #EE4266;
  }